
Homeworks/homework2/flows/06_gcp_kv.yaml
Workshops/workflow-orchestration/flows/06_gcp_kv.yaml
Homeworks/homework3/google-cloud-sdk
Homeworks/homework3/google-cloud-sdk.staging
Homeworks/homework3/google-cloud-sdk-456.0.0-linux-x86_64.tar.gz
Homeworks/homework3/yellow_tripdata_2024-01.parquet
Homeworks/homework3/yellow_tripdata_2024-03.parquet
Homeworks/homework3/yellow_tripdata_2024-05.parquet
Homeworks/homework3/yellow_tripdata_2024-04.parquet
Homeworks/homework3/yellow_tripdata_2024-02.parquet
Homeworks/homework3/yellow_tripdata_2024-06.parquet
gcs.json

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
dbt_internal_packages/

Homeworks/homework4/.venv